
li{
    list-style:none;
}
.container-fluid{
    width: 80%;
    display: flex;
}
.form-control{
    width: 40%; 
}
img{
    width: 60%;
    height: 56rem;
    position: relative;
    left: -14%;
}
footer{
    margin-top: 62%;
}